*{
  margin: 0;
  padding: 0;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image:url(https://i.imgur.com/zY8ANB3.png) ;
}

body{
  background-image: linear-gradient(to right, rgb(247, 168, 51),rgb(243, 190, 111),rgb(247, 168, 51));
  min-height: 100%;
}

.nav li{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: #351d0a;
}

.inicio, .flexColCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flexWrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  margin-top: 25px;
}

.carrito{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}



.chakra-ui-light{
    min-height: 100%;
}

.item{
  width: 250px;
}

.shopItem{
  padding: 20px;
}

.logo{
  width: 150px;
  height: 100px;
}

.carrito img{
  width: 50px;
  height: 50px;
}

li{
  list-style: none;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}